body {
    background-color: black;
    color: blueviolet;
    margin: 0px;
    padding: 0px;

}
header {
background-color: black;
color: blueviolet;
padding: 20px;
text-align: center;
}

main {
padding: 20px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}